// ngx-datatable.bootstrap.ngx-datatable.fixed-header.virtualized {
//     width: 760% !important;
// }

.topClass{
    top:5px;
}

.ng-select{
    position: absolute;
    min-width: 200px !important;
}
.expandView{
    padding-left: 250px;
}