<!--Shopping cart starts-->
<section id="shopping-cart">
    <div class="row text-left">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title ">Brands</h4>
            <p class="content-sub-header">Double click on any content to edit that section.</p>

            <a  (click)="addBrand()"   class="btn btn-floating halfway-fab btn-large bg-warning topClass"><i class="ft-plus"></i></a>
          </div>
          <div class="card-content">
            <div class="card-body">
                <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
                />
                <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50"
                [rowHeight]="'auto'" [rows]="rows">
                <ngx-datatable-column [width]="100" name="Action">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <a class="danger p-0" (click)="deleteBrand($event, 'name', rowIndex)" data-original-title="" title="">
                          <i class="ft-x font-medium-3 mr-2"></i>
                        </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="300" name="Name">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <span [ngClass]="{'container-fluid expandView': value==null  || value == undefined || value=='' && value!==0 }" title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
                            {{value}}
                        </span>
                        <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']" type="text" [value]="value"
                        />
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="300" name="Manufacturer">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                        <span [ngClass]="{'container-fluid expandView': value==null  || value == undefined || value=='' && value!==0 }" title="Double click to edit" (dblclick)="editing[rowIndex + '-manufacturer'] = true" *ngIf="!editing[rowIndex + '-manufacturer']">
                            {{value.name}}
                        </span>
                        <!-- <input (blur)="updateValue($event, 'manufacturer', rowIndex)" *ngIf="editing[rowIndex+ '-manufacturer']" type="text" [value]="value"
                        
                        
                        /> -->
                        <ng-select  (blur)="updateRelationshipValue(row['manufacturer']['id'], 'manufacturer', rowIndex)" *ngIf="editing[rowIndex+ '-manufacturer']" [items]="manufacturers"  bindLabel="name"   placeholder="Select Manufacturer"
                         
                         name="manufacturer" [(ngModel)]="row['manufacturer']"
                        >

                      </ng-select>
                         
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Shopping cart ends-->
  