<!--Extended Table starts-->
<!-- <div class="row text-left">
  <div class="col-12">
    <div class="content-header">Products</div>
    <p class="content-sub-header"></p>
  </div>
</div> -->
<!-- <section id="extended">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Action Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <th>#</th>
                  <th></th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <div class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" id="item1">
                      <label class="custom-control-label col-form-label" for="item1"></label>
                    </div>
                  </td>
                  <td>John</td>
                  <td>Carter</td>
                  <td>Male</td>
                  <td>johncarter@mail.com</td>
                  <td>
                    <a class="info p-0" data-original-title="" title="">
                      <i class="ft-user font-medium-3 mr-2"></i>
                    </a>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <div class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" id="item2">
                      <label class="custom-control-label col-form-label" for="item2"></label>
                    </div>
                  </td>
                  <td>Peter</td>
                  <td>Parker</td>
                  <td>Male</td>
                  <td>peterparker@mail.com</td>
                  <td>
                    <a class="info p-0" data-original-title="" title="">
                      <i class="ft-user font-medium-3 mr-2"></i>
                    </a>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <div class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" id="item3">
                      <label class="custom-control-label col-form-label" for="item3"></label>
                    </div>
                  </td>
                  <td>John</td>
                  <td>Rambo</td>
                  <td>Male</td>
                  <td>johnrambo@mail.com</td>
                  <td>
                    <a class="info p-0" data-original-title="" title="">
                      <i class="ft-user font-medium-3 mr-2"></i>
                    </a>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--Extended Table Ends-->
<!--Shopping cart starts-->
<section id="shopping-cart">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Products</h4>
          <a  (click)="addProduct()"   class="btn btn-floating halfway-fab btn-large bg-warning topClass"><i class="ft-plus"></i></a>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Weight</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let product of products">
                  <td><img class="media-object round-media" src="{{product.images && product.images[0] && product.images[0].thumbnail_image ? product.images[0].thumbnail_image : 'https://i.ibb.co/TvF2VVK/headphone.png'}}" alt="Generic placeholder image"
                      style="height: 75px;" /></td>
                  <td>{{product.name}}</td>
                  <td>{{product.weight}}</td>
                  <td>{{product.price}}</td>
                  <td>
                    {{product.quantity}}
                    <!-- <div class="btn-group ml-1">
                      <a class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">-</a>
                      <a class="bg-info px-1 py-1 white font-medium-5" href="javascript:void(0)">+</a>
                    </div> -->
                  </td>
                  <td>{{product.amount}}</td>
                  <td>
                    <!-- <a class="danger" data-original-title="" title="">
                      <i class="ft-trash font-medium-3"></i>
                    </a> -->
                    <!-- <a class="info p-0" data-original-title="" title="">
                      <i class="ft-user font-medium-3 mr-2"></i>
                    </a> -->
                    <a class="success p-0"  (click)="editProduct(product.id)" data-original-title="Edit product" title="Edit product">
                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                    </a>
                    <a class="danger p-0" data-original-title="" title="">
                      <i class="ft-x font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>

                <!-- <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td><b>Total</b></td>
                  <td><b>$101.31</b></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><button class="btn btn-success btn-raised">Continue</button> </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Shopping cart ends-->
