<!--Basic DataTable Starts-->
<section id="basic-datatable" class="mb-3">
    <div class="row text-left">
      <div class="col-12">
        <div class="content-header">Website View</div>
        <!-- <p class="content-sub-header">Product Views</p> -->
      </div>
    </div>
    <div class="row">
      <!-- <div> -->
        <div class="col-sm-12" >
          <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
          />
          <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [limit]="10" [columns]="columns"
            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [scrollbarH]="true">
          </ngx-datatable>
        </div>
      </div>
    <!-- </div> -->
  </section>
  <!--Basic DataTable Ends-->
  