<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Website</div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form">Website Info</h4>
        </div>
        <div class="card-content">
          <div class="px-3">
            <form class="form" [formGroup]="regularForm">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-file-text"></i> Basic Info</h4>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Url</label>
                      <input 
                      formControlName="url"
                      type="url" class="form-control" 
                       >
                       <small class="form-text text-muted danger" 
                       [hidden]="regularForm.get('url').valid || (!regularForm.get('url').dirty && !regularForm.get('url').touched)"
                       >Please enter a valid url</small>
                    </div>
                    <div class="form-group">
                      <label >Kind</label>
                      <input type="text" class="form-control"
                      formControlName="kind">
                      <small class="form-text text-muted danger" 
                       [hidden]="regularForm.get('url').valid || (!regularForm.get('url').dirty && !regularForm.get('url').touched)"
                       >Kind is required</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button (click)="goToWebsites()" type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button [disabled]="loading||!regularForm.valid" (click)="goToWebsites(); save();" type="button" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>  
          </div>
        </div>
      </div>
    </div>

    

    <!-- <div class="col-md-6">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-colored-form-control">User Profile</h4>
          <p class="mb-0">You can always change the border color of the form controls using <code>border-*</code>
            class. In this example we have user <code>border-primary</code> class for form controls. Form action
            buttons are on the bottom right position.</p>
        </div>
        <div class="card-content">
          <div class="px-3">

            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-info"></i> About User</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput1">First Name</label>
                      <input type="text" id="userinput1" class="form-control border-primary" name="name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput2">Last Name</label>
                      <input type="text" id="userinput2" class="form-control border-primary" name="company">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput3">Username</label>
                      <input type="text" id="userinput3" class="form-control border-primary" name="username">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput4">Nick Name</label>
                      <input type="text" id="userinput4" class="form-control border-primary" name="nickname">
                    </div>
                  </div>
                </div>

                <h4 class="form-section"><i class="ft-mail"></i> Contact Info & Bio</h4>

                <div class="form-group">
                  <label for="userinput5">Email</label>
                  <input class="form-control border-primary" type="email" id="userinput5">
                </div>

                <div class="form-group">
                  <label for="userinput6">Website</label>
                  <input class="form-control border-primary" type="url" id="userinput6">
                </div>

                <div class="form-group">
                  <label>Contact Number</label>
                  <input class="form-control border-primary" id="userinput7" type="number">
                </div>

                <div class="form-group">
                  <label for="userinput8">Bio</label>
                  <textarea id="userinput8" rows="5" class="form-control border-primary" name="bio"></textarea>
                </div>

              </div>

              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="button" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div> -->
  </div>



</section>
<!-- // Basic form layout section end -->
