<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Product</div>
      <p class="content-sub-header">* fields are mandatory.</p>  
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form">Product Info</h4>
        </div>
        <div class="card-content">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-file-text"></i> Basic Info</h4>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Name<span style="color:Red;">*</span></label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="pObj.name"   >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="shortDescription">Short Description</label>
                      <input type="text" [(ngModel)]="pObj.shortDescription" class="form-control" name="shortDescription">
                    </div>
                  </div>
                 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >type<span style="color:Red;">*</span></label>
                      <select class="form-control" [(ngModel)]="pObj.type">
                        <option class="form-control" [ngValue]="Simple">Simple</option>
                        <option class="form-control" [ngValue]="Grouped">Grouped</option>
                        <option class="form-control" [ngValue]="Configurable">Configurable</option>
                        <option class="form-control" [ngValue]="Virtual">Virtual</option>
                        <option class="form-control" [ngValue]="Bundle">Bundle</option>
                        <option class="form-control" [ngValue]="Downloadable">Downloadable</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Sku<span style="color:Red;">*</span></label>
                      <input type="text"  [(ngModel)]="pObj.sku" class="form-control" name="sku">
                    </div>
                  </div>
                 
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label >Websites<span style="color:Red;">*</span></label>
                      <ng-select [items]="websites" bindLabel="url" bindValue="id" [multiple]="true" placeholder="Select websites"
                      name="images" [(ngModel)]="pObj.Websites">
                      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"> {{item['url']}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">{{items.length - 2}} more...</span>
                        </div>
                    </ng-template>
                    </ng-select>
                    </div>
                  </div>
                </div>



                <h4 class="form-section"><i class="ft-file-text"></i> Relationships Info</h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label >Images<span style="color:Red;">*</span></label>
                      <ng-select [items]="images" bindLabel="thumbnail_image_label" bindValue="id" [multiple]="true" placeholder="Select Images"
                      name="images" [(ngModel)]="pObj.images">
                      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"><img [src]="item['thumbnail_image']" width="20px" height="20px"> {{item['thumbnail_image_label']}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">{{items.length - 2}} more...</span>
                        </div>
                    </ng-template>
                    </ng-select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label >Tags<span style="color:Red;">*</span></label>
                      <ng-select [items]="tagsList" bindLabel="name" bindValue="id" [multiple]="true" placeholder="Select tags"
                      name="images" [(ngModel)]="pObj.tags">
                      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"> {{item['name']}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">{{items.length - 2}} more...</span>
                        </div>
                    </ng-template>
                    </ng-select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label >Categories<span style="color:Red;">*</span></label>
                      <ng-select [items]="categories" bindLabel="name" bindValue="id" [multiple]="true" placeholder="Select categories"
                      name="images" [(ngModel)]="pObj.category">
                      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                            <span class="ng-value-label"> {{item['name']}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </div>
                        <div class="ng-value" *ngIf="items.length > 2">
                            <span class="ng-value-label">{{items.length - 2}} more...</span>
                        </div>
                    </ng-template>
                    </ng-select>
                    </div>
                  </div>
                </div>

                <div class="row">


                  <div class="col-md-4">
                    <div class="form-group">
                      <label >Brand<span style="color:Red;">*</span></label>
                      <ng-select [items]="brands" bindLabel="name" bindValue="id"  placeholder="Select brand"
                      name="brand" [(ngModel)]="pObj.brand">
                    </ng-select>
                    </div>
                  </div>

                  </div>
                <h4 class="form-section"><i class="ft-file-text"></i>Additional Info </h4>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Mpn<span style="color:Red;">*</span></label>
                      <input type="text"  [(ngModel)]="pObj.mpn" class="form-control" name="mpn">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Ean<span style="color:Red;">*</span></label>
                      <input type="text"  [(ngModel)]="pObj.ean" class="form-control" name="ean">
                    </div>
                  </div>
                 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Product Status</label>
                       <select class="form-control" name="productStatus" [(ngModel)]="pObj.productStatus">
                        <option class="form-control" value="Simple">Simple</option>
                        <option class="form-control" value="Grouped">Grouped</option>
                        <option class="form-control" value="Configurable">Configurable</option>
                        <option class="form-control" value="Virtual">Virtual</option>
                        <option class="form-control" value="Bundle">Bundle</option>
                        <option class="form-control" value="Downloadable">Downloadable</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Amount<span style="color:Red;">*</span></label>
                      <input type="number"  [(ngModel)]="pObj.amount" class="form-control" name="amount">
                    </div>
                  </div>
                 
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Description</label>
                      <input type="text"  [(ngModel)]="pObj.description" class="form-control" name="description">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Weight</label>
                      <input type="number" [(ngModel)]="pObj.weight" class="form-control" name="weight">
                    </div>
                  </div>
                 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Products Online</label>
                       <select class="form-control" [(ngModel)]="pObj.productsOnline">
                        <option class="form-control" value="false">False</option>
                        <option class="form-control" value="true">True</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Visibility</label>
                      <select class="form-control" name="visibility" [(ngModel)]="pObj.visibility">
                        <option class="form-control" value="Catalog">Catalog</option>
                        <option class="form-control" value="Search">Search</option>
                        <option class="form-control" value="NotVisibleIndividually">Not Visible Individually</option>
                      </select>
                    </div>
                  </div>
                 
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Tax Class Name</label>
                       <select class="form-control"  name="taxClassName" [(ngModel)]="pObj.taxClassName">
                        <option class="form-control" value="FoodProducts">Food Products</option>
                        <option class="form-control" value="NonFoodProducts">Non Food Products</option>
                       </select>
                    </div>
                  </div>
                </div>


                <h4 class="form-section"><i class="ft-file-text"></i> Price Info</h4>
                <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>price<span style="color:Red;">*</span></label><input type="number"  [(ngModel)]="pObj.price" class="form-control" name="price"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>special price</label><input type="number"  [(ngModel)]="pObj.specialPrice" class="form-control" name="specialPrice"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>special price from date</label><input type="number"  [(ngModel)]="pObj.specialPriceFromDate" class="form-control" name="specialPriceFromDate"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>special price to date</label><input type="number"  [(ngModel)]="pObj.specialPriceToDate" class="form-control" name="specialPriceToDate"></div>
                                                                                          </div>                                                                                          
                                                                                            
                </div>


                <h4 class="form-section"><i class="ft-file-text"></i>Meta Info  </h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>meta title</label><input type="text"  [(ngModel)]="pObj.metaTitle" class="form-control" name="metaTitle"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>meta keywords</label><input type="text"  [(ngModel)]="pObj.metaKeywords" class="form-control" name="metaKeywords"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>meta description</label><input type="text"  [(ngModel)]="pObj.metaDescription" class="form-control" name="metaDescription"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>map price</label><input type="text"  [(ngModel)]="pObj.mapPrice" class="form-control" name="mapPrice"></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>msrp price</label><input type="number"  [(ngModel)]="pObj.msrpPrice" class="form-control" name="msrpPrice"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>map enabled</label><input type="text"  [(ngModel)]="pObj.mapEnabled" class="form-control" name="mapEnabled"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>gift message available</label><input type="text"  [(ngModel)]="pObj.giftMessageAvailable" class="form-control" name="giftMessageAvailable"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>custom design</label><input type="text"  [(ngModel)]="pObj.customDesign" class="form-control" name="customDesign"></div></div>                                                                                          
                  
                 </div> 



                 <h4 class="form-section"><i class="ft-file-text"></i>Design Info </h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>custom design from</label><input type="text"  [(ngModel)]="pObj.customDesignFrom" class="form-control" name="customDesignFrom"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>custom design to</label><input type="text"  [(ngModel)]="pObj.customDesignTo" class="form-control" name="customDesignTo"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>custom layout update</label><input type="text"  [(ngModel)]="pObj.customLayoutUpdate" class="form-control" name="customLayoutUpdate"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>page layout</label><input type="text"  [(ngModel)]="pObj.pageLayout" class="form-control" name="pageLayout"></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>product options container</label><input type="text"  [(ngModel)]="pObj.productOptionsContainer" class="form-control" name="productOptionsContainer"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>msrp display actual price type</label><input type="text"  [(ngModel)]="pObj.msrpDisplayActualPriceType" class="form-control" name="msrpDisplayActualPriceType"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>country of manufacture</label><input type="text"  [(ngModel)]="pObj.countryOfManufacture" class="form-control" name="countryOfManufacture"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>quantity</label><input type="number"  [(ngModel)]="pObj.quantity" class="form-control" name="quantity"></div></div>                                                                                          
                  
                 </div> 




                 <h4 class="form-section"><i class="ft-file-text"></i>Cart Info  </h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>out of stock quantity</label><input type="number"  [(ngModel)]="pObj.outOfStockQuantity" class="form-control" name="outOfStockQuantity"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use config min qty</label><input type="text"  [(ngModel)]="pObj.useConfigMinQty" class="form-control" name="useConfigMinQty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>is qty decimal</label><input type="checkbox"  [(ngModel)]="pObj.isQtyDecimal" class="form-control" name="isQtyDecimal"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>out of stock</label><input type="checkbox"  [(ngModel)]="pObj.outOfStock" class="form-control" name="outOfStock" ></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>allow backorders</label><input type="text"  [(ngModel)]="pObj.allowBackorders" class="form-control" name="allowBackorders"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use config backorders</label><input type="text"  [(ngModel)]="pObj.useConfigBackorders" class="form-control" name="useConfigBackorders"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>min cart qty</label><input type="number"  [(ngModel)]="pObj.minCartQty" class="form-control" name="minCartQty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use config min sale qty</label><input type="number"  [(ngModel)]="pObj.useConfigMinSaleQty" class="form-control" name="useConfigMinSaleQty"></div></div>                                                                                          
                  
                 </div> 




                 <h4 class="form-section"><i class="ft-file-text"></i>Stock Info  </h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>max cart qty</label><input type="number"  [(ngModel)]="pObj.maxCartQty" class="form-control" name="maxCartQty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use config max sale qty</label><input type="number"  [(ngModel)]="pObj.useConfigMaxSaleQty" class="form-control" name="useConfigMaxSaleQty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>is in stock</label><input type="checkbox"  [(ngModel)]="pObj.isInStock" class="form-control" name="isInStock"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>notify on stock below</label><input type="text"  [(ngModel)]="pObj.notifyOnStockBelow" class="form-control" name="notifyOnStockBelow"></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>use config notify stock qty</label><input type="text"  [(ngModel)]="pObj.useConfigNotifyStockQty" class="form-control" name="useConfigNotifyStockQty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>manage stock</label><input type="text"  [(ngModel)]="pObj.manageStock" class="form-control" name="manageStock"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use config manage stock</label><input type="text"  [(ngModel)]="pObj.useConfigManageStock" class="form-control" name="useConfigManageStock"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use config qty increments</label><input type="text"  [(ngModel)]="pObj.useConfigQtyIncrements" class="form-control" name="useConfigQtyIncrements"></div></div>                                                                                          
                  
                 </div> 

                 <h4 class="form-section"><i class="ft-file-text"></i>Quantity Info  </h4>
                 <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>qty increments</label><input type="text"  [(ngModel)]="pObj.qtyIncrements" class="form-control" name="qtyIncrements"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>use config enable qty inc</label><input type="text"  [(ngModel)]="pObj.useConfigEnableQtyInc" class="form-control" name="useConfigEnableQtyInc"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>enable qty increments</label><input type="text"  [(ngModel)]="pObj.enableQtyIncrements" class="form-control" name="enableQtyIncrements"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>hide from product page</label><input type="checkbox"  [(ngModel)]="pObj.hideFromProductPage" class="form-control" name="hideFromProductPage"></div></div>                                                                                          
                    
                 </div>
                 <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>custom options</label><input type="text"  [(ngModel)]="pObj.customOptions" class="form-control" name="customOptions"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle price type</label><input type="text"  [(ngModel)]="pObj.bundlePriceType" class="form-control" name="bundlePriceType"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle sku type</label><input type="text"  [(ngModel)]="pObj.bundleSkuType" class="form-control" name="bundleSkuType"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle price view</label><input type="text"  [(ngModel)]="pObj.bundlePriceView" class="form-control" name="bundlePriceView"></div></div>                                                                                          
                    
                 </div>
                <h4 class="form-section"><i class="ft-file-text"></i>Content Info  </h4>
                 <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>bundle values</label><input type="text"  [(ngModel)]="pObj.bundleValues" class="form-control" name="bundleValues"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle shipment type</label><input type="text"  [(ngModel)]="pObj.bundleShipmentType" class="form-control" name="bundleShipmentType"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>configurable variations</label><input type="text"  [(ngModel)]="pObj.configurableVariations" class="form-control" name="configurableVariations"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>configurable variation labels</label><input type="text"  [(ngModel)]="pObj.configurableVariationLabels" class="form-control" name="configurableVariationLabels"></div></div>                                                                                          
                    
                </div>
                <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>allergen content</label><input type="text"  [(ngModel)]="pObj.allergenContent" class="form-control" name="allergenContent"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>case quantity</label><input type="number"  [(ngModel)]="pObj.caseQuantity" class="form-control" name="caseQuantity"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>distributor</label><input type="text"  [(ngModel)]="pObj.distributor" class="form-control" name="distributor"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>food nutrition</label><input type="text"  [(ngModel)]="pObj.foodNutrition" class="form-control" name="foodNutrition"></div></div>                                                                                          
                      
                </div>
                
                <h4 class="form-section"><i class="ft-file-text"></i> Category Info </h4>
                <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>food property content</label><input type="text"  [(ngModel)]="pObj.foodPropertyContent" class="form-control" name="foodPropertyContent"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>food properties list</label><input type="text"  [(ngModel)]="pObj.foodPropertiesList" class="form-control" name="foodPropertiesList"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>fsd category reference</label><input type="text"  [(ngModel)]="pObj.fsdCategoryReference" class="form-control" name="fsdCategoryReference"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>fsd products reference</label><input type="text"  [(ngModel)]="pObj.fsdProductsReference" class="form-control" name="fsdProductsReference"></div></div>                                                                                          
                    
               </div>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>fsd product reference</label><input type="text"  [(ngModel)]="pObj.fsdProductReference" class="form-control" name="fsdProductReference"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>gift wrapping available</label><input type="text"  [(ngModel)]="pObj.giftWrappingAvailable" class="form-control" name="giftWrappingAvailable"></div>
                                                                                          </div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>sku height</label><input type="number"  [(ngModel)]="pObj.skuHeight" class="form-control" name="skuHeight"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>sku length</label><input type="number"  [(ngModel)]="pObj.skuLength" class="form-control" name="skuLength"></div></div>                                                                                          

                 
               </div>


               <h4 class="form-section"><i class="ft-file-text"></i>Shipping Info  </h4>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>sku width</label><input type="number"  [(ngModel)]="pObj.skuWidth" class="form-control" name="skuWidth"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>shelf life</label><input type="number"  [(ngModel)]="pObj.shelfLife" class="form-control" name="shelfLife"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>shipping temp</label><input type="text"  [(ngModel)]="pObj.shippingTemp" class="form-control" name="shippingTemp"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>shipping weight</label><input type="number"  [(ngModel)]="pObj.shippingWeight" class="form-control" name="shippingWeight"></div></div>                                                                                          
                  
               </div>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>ships in</label><input type="number"  [(ngModel)]="pObj.shipsIn" class="form-control" name="shipsIn"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>stock type</label><input type="text"  [(ngModel)]="pObj.stockType" class="form-control" name="stockType"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>ts dimensions height</label><input type="number"  [(ngModel)]="pObj.tsDimensionsHeight" class="form-control" name="tsDimensionsHeight"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>ts dimensions length</label><input type="number"  [(ngModel)]="pObj.tsDimensionsLength" class="form-control" name="tsDimensionsLength"></div></div>                                                                                          
                  
               </div>
              <h4 class="form-section"><i class="ft-file-text"></i>Dimensions Info  </h4>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>ts dimensions width</label><input type="number"  [(ngModel)]="pObj.tsDimensionsWidth" class="form-control" name="tsDimensionsWidth"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>unit amount</label><input type="number"  [(ngModel)]="pObj.unitAmount" class="form-control" name="unitAmount"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>unit amount type</label><input type="text"  [(ngModel)]="pObj.unitAmountType" class="form-control" name="unitAmountType"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>upc</label><input type="text"  [(ngModel)]="pObj.upc" class="form-control" name="upc"></div></div>                                                                                          
                  
              </div>
              <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>volume</label><input type="text"  [(ngModel)]="pObj.volume" class="form-control" name="volume"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>bullet points</label><input type="text"  [(ngModel)]="pObj.bulletPoints" class="form-control" name="bulletPoints"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>h1 tag</label><input type="text"  [(ngModel)]="pObj.h1Tag" class="form-control" name="h1Tag"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>h2 tag</label><input type="text"  [(ngModel)]="pObj.h2Tag" class="form-control" name="h2Tag"></div></div>                                                                                          
                    
                  <div class="col-md-3"><div class="form-group"><label>h3 tag</label><input type="text"  [(ngModel)]="pObj.h3Tag" class="form-control" name="h3Tag"></div></div>

                                                                                            <div class="col-md-3"><div class="form-group"><label>alt tag</label><input type="text"  [(ngModel)]="pObj.altTag" class="form-control" name="altTag"></div></div>
                  <div class="col-md-3"><div class="form-group"><label>Is Decimal Divided</label><input type="text"  [(ngModel)]="pObj.isDecimalDivided" class="form-control" name="isDecimalDivided"></div></div>

                  <div class="col-md-3"><div class="form-group"><label>Cross Sell Skus</label><input type="text"  [(ngModel)]="pObj.crosssellSkus" class="form-control" name="crosssellSkus"></div></div>

                  <div class="col-md-3"><div class="form-group"><label>Cross SellPosition</label><input type="text"  [(ngModel)]="pObj.crosssellPosition" class="form-control" name="crosssellPosition"></div></div>

                  <div class="col-md-3"><div class="form-group"><label>Up Sell Skus</label><input type="text"  [(ngModel)]="pObj.upsellSkus" class="form-control" name="upsellSkus"></div></div>

                  <div class="col-md-3"><div class="form-group"><label>Up Sell Position</label><input type="text"  [(ngModel)]="pObj.upsellPosition" class="form-control" name="upsellPosition"></div></div>

                  <div class="col-md-3"><div class="form-group"><label>Deferred Stock Update</label><input type="text"  [(ngModel)]="pObj.deferredStockUpdate" class="form-control" name="deferredStockUpdate"></div></div>
              </div>
              
              </div>

              <div class="form-actions">
                <button (click)="goToProducts()" type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button [disabled]="loading" ="save()" type="button" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>  
          </div>
        </div>
      </div>
    </div>

    

    <!-- <div class="col-md-6">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-colored-form-control">User Profile</h4>
          <p class="mb-0">You can always change the border color of the form controls using <code>border-*</code>
            class. In this example we have user <code>border-primary</code> class for form controls. Form action
            buttons are on the bottom right position.</p>
        </div>
        <div class="card-content">
          <div class="px-3">

            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-info"></i> About User</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput1">First Name</label>
                      <input type="text" id="userinput1" class="form-control border-primary" name="name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput2">Last Name</label>
                      <input type="text" id="userinput2" class="form-control border-primary" name="company">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput3">Username</label>
                      <input type="text" id="userinput3" class="form-control border-primary" name="username">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput4">Nick Name</label>
                      <input type="text" id="userinput4" class="form-control border-primary" name="nickname">
                    </div>
                  </div>
                </div>

                <h4 class="form-section"><i class="ft-mail"></i> Contact Info & Bio</h4>

                <div class="form-group">
                  <label for="userinput5">Email</label>
                  <input class="form-control border-primary" type="email" id="userinput5">
                </div>

                <div class="form-group">
                  <label for="userinput6">Website</label>
                  <input class="form-control border-primary" type="url" id="userinput6">
                </div>

                <div class="form-group">
                  <label>Contact Number</label>
                  <input class="form-control border-primary" id="userinput7" type="number">
                </div>

                <div class="form-group">
                  <label for="userinput8">Bio</label>
                  <textarea id="userinput8" rows="5" class="form-control border-primary" name="bio"></textarea>
                </div>

              </div>

              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="button" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div> -->
  </div>



</section>
<!-- // Basic form layout section end -->
