<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Product</div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form">Product Info</h4>
        </div>
        <div class="card-content">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-file-text"></i> Basic Info</h4>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="pObj.name"   >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="short_description">Short Description</label>
                      <input type="text" [(ngModel)]="pObj.short_description" class="form-control" name="short_description">
                    </div>
                  </div>
                 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >brand</label>
                      <input type="text" [(ngModel)]="pObj.brand"  class="form-control" name="brand">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Tax</label>
                      <input type="text"  [(ngModel)]="pObj.tax" class="form-control" name="tax">
                    </div>
                  </div>
                 
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Product family</label>
                      <input type="text" [(ngModel)]="pObj.product_family" class="form-control" name="product_family">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Slug</label>
                      <input type="text"  [(ngModel)]="pObj.slug" class="form-control" name="slug">
                    </div>
                  </div>
                 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >type</label>
                      <input type="text" [(ngModel)]="pObj.type" class="form-control" name="type">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Sku</label>
                      <input type="text"  [(ngModel)]="pObj.sku" class="form-control" name="sku">
                    </div>
                  </div>
                 
                </div>

                <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Mpn</label>
                      <input type="text"  [(ngModel)]="pObj.mpn" class="form-control" name="mpn">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Ean</label>
                      <input type="text"  [(ngModel)]="pObj.ean" class="form-control" name="ean">
                    </div>
                  </div>
                 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Product Status</label>
                      <input type="text" [(ngModel)]="pObj.product_status" class="form-control" name="product_status">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Amount</label>
                      <input type="number"  [(ngModel)]="pObj.amount" class="form-control" name="amount">
                    </div>
                  </div>
                 
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Description</label>
                      <input type="text"  [(ngModel)]="pObj.description" class="form-control" name="description">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Weight</label>
                      <input type="text" [(ngModel)]="pObj.weight" class="form-control" name="weight">
                    </div>
                  </div>
                 
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Products Online</label>
                      <input type="checkbox" [(ngModel)]="pObj.products_online" class="form-control" name="products_online">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label >Visibility</label>
                      <input type="text"  [(ngModel)]="pObj.visibility" class="form-control" name="visibility">
                    </div>
                  </div>
                 
                </div>


                <h4 class="form-section"><i class="ft-file-text"></i> Basic Info</h4>
                <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>price</label><input type="text"  [(ngModel)]="pObj.price" class="form-control" name="price"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>special_price</label><input type="text"  [(ngModel)]="pObj.special_price" class="form-control" name="special_price"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>special_price_from_date</label><input type="text"  [(ngModel)]="pObj.special_price_from_date" class="form-control" name="special_price_from_date"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>special_price_to_date</label><input type="text"  [(ngModel)]="pObj.special_price_to_date" class="form-control" name="special_price_to_date"></div>
                                                                                          </div>                                                                                          
                                                                                            
                </div>
                <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>meta_title</label><input type="text"  [(ngModel)]="pObj.meta_title" class="form-control" name="meta_title"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>meta_keywords</label><input type="text"  [(ngModel)]="pObj.meta_keywords" class="form-control" name="meta_keywords"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>meta_description</label><input type="text"  [(ngModel)]="pObj.meta_description" class="form-control" name="meta_description"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>map_price</label><input type="text"  [(ngModel)]="pObj.map_price" class="form-control" name="map_price"></div></div>                                                                                          
                                                                                            
                </div>


                <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>meta_title</label><input type="text"  [(ngModel)]="pObj.meta_title" class="form-control" name="meta_title"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>meta_keywords</label><input type="text"  [(ngModel)]="pObj.meta_keywords" class="form-control" name="meta_keywords"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>meta_description</label><input type="text"  [(ngModel)]="pObj.meta_description" class="form-control" name="meta_description"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>map_price</label><input type="text"  [(ngModel)]="pObj.map_price" class="form-control" name="map_price"></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>msrp_price</label><input type="text"  [(ngModel)]="pObj.msrp_price" class="form-control" name="msrp_price"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>map_enabled</label><input type="text"  [(ngModel)]="pObj.map_enabled" class="form-control" name="map_enabled"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>gift_message_available</label><input type="text"  [(ngModel)]="pObj.gift_message_available" class="form-control" name="gift_message_available"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>custom_design</label><input type="text"  [(ngModel)]="pObj.custom_design" class="form-control" name="custom_design"></div></div>                                                                                          
                  
                 </div> 



                 <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>custom_design_from</label><input type="text"  [(ngModel)]="pObj.custom_design_from" class="form-control" name="custom_design_from"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>custom_design_to</label><input type="text"  [(ngModel)]="pObj.custom_design_to" class="form-control" name="custom_design_to"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>custom_layout_update</label><input type="text"  [(ngModel)]="pObj.custom_layout_update" class="form-control" name="custom_layout_update"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>page_layout</label><input type="text"  [(ngModel)]="pObj.page_layout" class="form-control" name="page_layout"></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>product_options_container</label><input type="text"  [(ngModel)]="pObj.product_options_container" class="form-control" name="product_options_container"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>msrp_display_actual_price_type</label><input type="text"  [(ngModel)]="pObj.msrp_display_actual_price_type" class="form-control" name="msrp_display_actual_price_type"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>country_of_manufacture</label><input type="text"  [(ngModel)]="pObj.country_of_manufacture" class="form-control" name="country_of_manufacture"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>quantity</label><input type="text"  [(ngModel)]="pObj.quantity" class="form-control" name="quantity"></div></div>                                                                                          
                  
                 </div> 




                 <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>out_of_stock_quantity</label><input type="text"  [(ngModel)]="pObj.out_of_stock_quantity" class="form-control" name="out_of_stock_quantity"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use_config_min_qty</label><input type="text"  [(ngModel)]="pObj.use_config_min_qty" class="form-control" name="use_config_min_qty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>is_qty_decimal</label><input type="text"  [(ngModel)]="pObj.is_qty_decimal" class="form-control" name="is_qty_decimal"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>out_of_stock</label><input type="text"  [(ngModel)]="pObj.out_of_stock" class="form-control" name="out_of_stock"></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>allow_backorders</label><input type="text"  [(ngModel)]="pObj.allow_backorders" class="form-control" name="allow_backorders"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use_config_backorders</label><input type="text"  [(ngModel)]="pObj.use_config_backorders" class="form-control" name="use_config_backorders"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>min_cart_qty</label><input type="text"  [(ngModel)]="pObj.min_cart_qty" class="form-control" name="min_cart_qty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use_config_min_sale_qty</label><input type="text"  [(ngModel)]="pObj.use_config_min_sale_qty" class="form-control" name="use_config_min_sale_qty"></div></div>                                                                                          
                  
                 </div> 




                 <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>max_cart_qty</label><input type="text"  [(ngModel)]="pObj.max_cart_qty" class="form-control" name="max_cart_qty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use_config_max_sale_qty</label><input type="text"  [(ngModel)]="pObj.use_config_max_sale_qty" class="form-control" name="use_config_max_sale_qty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>is_in_stock</label><input type="text"  [(ngModel)]="pObj.is_in_stock" class="form-control" name="is_in_stock"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>notify_on_stock_below</label><input type="text"  [(ngModel)]="pObj.notify_on_stock_below" class="form-control" name="notify_on_stock_below"></div></div>                                                                                          
                  
                 </div> 
                
                 <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>use_config_notify_stock_qty</label><input type="text"  [(ngModel)]="pObj.use_config_notify_stock_qty" class="form-control" name="use_config_notify_stock_qty"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>manage_stock</label><input type="text"  [(ngModel)]="pObj.manage_stock" class="form-control" name="manage_stock"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use_config_manage_stock</label><input type="text"  [(ngModel)]="pObj.use_config_manage_stock" class="form-control" name="use_config_manage_stock"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>use_config_qty_increments</label><input type="text"  [(ngModel)]="pObj.use_config_qty_increments" class="form-control" name="use_config_qty_increments"></div></div>                                                                                          
                  
                 </div> 

                 <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                 <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>qty_increments</label><input type="text"  [(ngModel)]="pObj.qty_increments" class="form-control" name="qty_increments"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>use_config_enable_qty_inc</label><input type="text"  [(ngModel)]="pObj.use_config_enable_qty_inc" class="form-control" name="use_config_enable_qty_inc"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>enable_qty_increments</label><input type="text"  [(ngModel)]="pObj.enable_qty_increments" class="form-control" name="enable_qty_increments"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>hide_from_product_page</label><input type="text"  [(ngModel)]="pObj.hide_from_product_page" class="form-control" name="hide_from_product_page"></div></div>                                                                                          
                    
                 </div>
                 <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>custom_options</label><input type="text"  [(ngModel)]="pObj.custom_options" class="form-control" name="custom_options"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle_price_type</label><input type="text"  [(ngModel)]="pObj.bundle_price_type" class="form-control" name="bundle_price_type"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle_sku_type</label><input type="text"  [(ngModel)]="pObj.bundle_sku_type" class="form-control" name="bundle_sku_type"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle_price_view</label><input type="text"  [(ngModel)]="pObj.bundle_price_view" class="form-control" name="bundle_price_view"></div></div>                                                                                          
                    
                 </div>
                <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                 <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>bundle_values</label><input type="text"  [(ngModel)]="pObj.bundle_values" class="form-control" name="bundle_values"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>bundle_shipment_type</label><input type="text"  [(ngModel)]="pObj.bundle_shipment_type" class="form-control" name="bundle_shipment_type"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>configurable_variations</label><input type="text"  [(ngModel)]="pObj.configurable_variations" class="form-control" name="configurable_variations"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>configurable_variation_labels</label><input type="text"  [(ngModel)]="pObj.configurable_variation_labels" class="form-control" name="configurable_variation_labels"></div></div>                                                                                          
                    
                </div>
                <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>allergen_content</label><input type="text"  [(ngModel)]="pObj.allergen_content" class="form-control" name="allergen_content"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>case_quantity</label><input type="text"  [(ngModel)]="pObj.case_quantity" class="form-control" name="case_quantity"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>distributor</label><input type="text"  [(ngModel)]="pObj.distributor" class="form-control" name="distributor"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>food_nutrition</label><input type="text"  [(ngModel)]="pObj.food_nutrition" class="form-control" name="food_nutrition"></div></div>                                                                                          
                      
                </div>
                
                <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
                <div class="row">
                    <div class="col-md-3"><div class="form-group"><label>food_property_content</label><input type="text"  [(ngModel)]="pObj.food_property_content" class="form-control" name="food_property_content"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>food_properties_list</label><input type="text"  [(ngModel)]="pObj.food_properties_list" class="form-control" name="food_properties_list"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>fsd_category_reference</label><input type="text"  [(ngModel)]="pObj.fsd_category_reference" class="form-control" name="fsd_category_reference"></div></div>                                                                                          
                    <div class="col-md-3"><div class="form-group"><label>fsd_products_reference</label><input type="text"  [(ngModel)]="pObj.fsd_products_reference" class="form-control" name="fsd_products_reference"></div></div>                                                                                          
                    
               </div>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>fsd_product_reference</label><input type="text"  [(ngModel)]="pObj.fsd_product_reference" class="form-control" name="fsd_product_reference"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>gift_wrapping_available</label><input type="text"  [(ngModel)]="pObj.gift_wrapping_available" class="form-control" name="gift_wrapping_available"></div>
                                                                                          </div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>sku_height</label><input type="text"  [(ngModel)]="pObj.sku_height" class="form-control" name="sku_height"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>sku_length</label><input type="text"  [(ngModel)]="pObj.sku_length" class="form-control" name="sku_length"></div></div>                                                                                          

                 
               </div>


               <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>sku_width</label><input type="text"  [(ngModel)]="pObj.sku_width" class="form-control" name="sku_width"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>shelf_life</label><input type="text"  [(ngModel)]="pObj.shelf_life" class="form-control" name="shelf_life"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>shipping_temp</label><input type="text"  [(ngModel)]="pObj.shipping_temp" class="form-control" name="shipping_temp"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>shipping_weight</label><input type="text"  [(ngModel)]="pObj.shipping_weight" class="form-control" name="shipping_weight"></div></div>                                                                                          
                  
               </div>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>ships_in</label><input type="text"  [(ngModel)]="pObj.ships_in" class="form-control" name="ships_in"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>stock_type</label><input type="text"  [(ngModel)]="pObj.stock_type" class="form-control" name="stock_type"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>ts_dimensions_height</label><input type="text"  [(ngModel)]="pObj.ts_dimensions_height" class="form-control" name="ts_dimensions_height"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>ts_dimensions_length</label><input type="text"  [(ngModel)]="pObj.ts_dimensions_length" class="form-control" name="ts_dimensions_length"></div></div>                                                                                          
                  
               </div>
              <h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>
               <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>ts_dimensions_width</label><input type="text"  [(ngModel)]="pObj.ts_dimensions_width" class="form-control" name="ts_dimensions_width"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>unit_amount</label><input type="text"  [(ngModel)]="pObj.unit_amount" class="form-control" name="unit_amount"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>unit_amount_type</label><input type="text"  [(ngModel)]="pObj.unit_amount_type" class="form-control" name="unit_amount_type"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>upc</label><input type="text"  [(ngModel)]="pObj.upc" class="form-control" name="upc"></div></div>                                                                                          
                  
              </div>
              <div class="row">
                  <div class="col-md-3"><div class="form-group"><label>volume</label><input type="text"  [(ngModel)]="pObj.volume" class="form-control" name="volume"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>bullet_points</label><input type="text"  [(ngModel)]="pObj.bullet_points" class="form-control" name="bullet_points"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>h1_tag</label><input type="text"  [(ngModel)]="pObj.h1_tag" class="form-control" name="h1_tag"></div></div>                                                                                          
                  <div class="col-md-3"><div class="form-group"><label>h2_tag</label><input type="text"  [(ngModel)]="pObj.h2_tag" class="form-control" name="h2_tag"></div></div>                                                                                          
                    
                  <div class="col-md-3"><div class="form-group"><label>h3_tag</label><input type="text"  [(ngModel)]="pObj.h3_tag" class="form-control" name="h3_tag"></div></div>                                                                                          
                                                                                            <div class="col-md-3"><div class="form-group"><label>alt_tag</label><input type="text"  [(ngModel)]="pObj.alt_tag" class="form-control" name="alt_tag"></div></div>
              </div>
              
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="button" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>  
          </div>
        </div>
      </div>
    </div>

    

    <!-- <div class="col-md-6">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-colored-form-control">User Profile</h4>
          <p class="mb-0">You can always change the border color of the form controls using <code>border-*</code>
            class. In this example we have user <code>border-primary</code> class for form controls. Form action
            buttons are on the bottom right position.</p>
        </div>
        <div class="card-content">
          <div class="px-3">

            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-info"></i> About User</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput1">First Name</label>
                      <input type="text" id="userinput1" class="form-control border-primary" name="name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput2">Last Name</label>
                      <input type="text" id="userinput2" class="form-control border-primary" name="company">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput3">Username</label>
                      <input type="text" id="userinput3" class="form-control border-primary" name="username">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="userinput4">Nick Name</label>
                      <input type="text" id="userinput4" class="form-control border-primary" name="nickname">
                    </div>
                  </div>
                </div>

                <h4 class="form-section"><i class="ft-mail"></i> Contact Info & Bio</h4>

                <div class="form-group">
                  <label for="userinput5">Email</label>
                  <input class="form-control border-primary" type="email" id="userinput5">
                </div>

                <div class="form-group">
                  <label for="userinput6">Website</label>
                  <input class="form-control border-primary" type="url" id="userinput6">
                </div>

                <div class="form-group">
                  <label>Contact Number</label>
                  <input class="form-control border-primary" id="userinput7" type="number">
                </div>

                <div class="form-group">
                  <label for="userinput8">Bio</label>
                  <textarea id="userinput8" rows="5" class="form-control border-primary" name="bio"></textarea>
                </div>

              </div>

              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="button" class="btn btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div> -->
  </div>



</section>
<!-- // Basic form layout section end -->
